<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        body{
            background-color:lightgrey;
        }
        .navbar{
            background-color:salmon!important;
            height:30px;
        }
        .arrow-up{
            width:0px;
            height:0px;
            position:absolute;
            border-left:20px solid transparent;
            border-right:20px solid transparent;
            border-bottom:20px solid #fff;
            right:151px;
            top:50px;
        }
        .login-form{
            position:absolute;
            width:300px;
            height:200px;
            background:#fff;
            right: 75px;
            top: 30px;
            border-radius:3px;
            border-bottom:5px solid gray;
            display:none;
        }
        .login-form>form{
            width:250px;
            margin:25px auto;
            font-size:20px;
            font-family:sans-serif,Arial;
            color:gray;
            letter-spacing: -0.05em;
        }
        input[type="text"], input[type="password"]{
            width:220px;
            height:30px;
            border-color: #ededed;
            outline: none;
            box-shadow: inset 0 0 10px #eee;
            border-radius:3px;
           margin-left: 40px;
        }
        input[type="button"]
        {
             margin-top: 15px;
             margin-left: 40px;
             width:220px;
             height:35px;
             font-size:12px;
             font-weight:bold;
             font-family:sans-serif,Arial;
             outline:none;
                border:0px;
                border-radius:3px;
                 letter-spacing: -0.05em;

        }
         input[type="button"]:hover{
             background: salmon;
             height:30px;
         }
         .imgLogin{
                 width: 15px;
    background-color: white;
    margin-top: -6px;
         }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <p style="color:white;padding-top:10px;"><img src="~/Images/logo.png" style="width:20px;" />AMERICA VIRTUAL</p>
            </div>
        <aside style="width:200px;height:65px;float:right;padding-top:10px;">
            <div style="width:200px;height:65px;float:right;">
                <a style="color:white" href="#" id="login">INICIAR SESIÓN</a>
                <img class="imgLogin" src="~/Images/user-icon-png-transparent-3.jpg" />
            </div>
            <div>
                <label id="lblWelcome" style="color:blue; font-size:11px;"></label>
            </div>
           
        </aside>
          <form class="login-form">
              <label style="margin-left: 40px;">Usuario</label>
              <div>
                  <input id="Username" type="text" required />
              </div>
              <label style="margin-left: 40px;">Contraseña</label>
              <div>
                  <input id="Password" type="password" required />
              </div>
              <div>
                  <input id="btnLogin" type="button" style="background-color:salmon;color:white" value="INICIAR SESION" onclick="iniciarSesion()" />
              </div>
              <div>
                  <label id="lblError" style="margin-left: 40px;color:red"></label>
              </div>
          </form>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
